<!DOCTYPE html>
<html>
<head>
	<title>個人申請制備審資料下載與審查回覆系統</title>
	<%- include ('component/_header') %>
</head>
<body>
	<%- include ('component/_loading') %>
	<div class="container" style="min-height: calc(100vh - 112px)">
		<div class="row pt-3" style="margin-bottom: -24px;">
			<div class="col-12">
				<a href="./" style="width: 320px; display: flex; color: inherit; text-decoration: none;">
					<div class="text-center" style="flex: 1">
						<img src="./img/logo.png" alt="logo" height="40" />
					</div>
					<div style="font-size: 16px; font-weight: bold; flex: 4	;" id="wordOfSystem">個人申請制<br />備審資料下載與審查回覆系統</div>
				</a>
				<div class='float-right' style="position: relative; top: -24px;">
					<span id="greeting">　</span>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mx-auto">
							<li class="nav-item <%= current.source === 'index' ? 'active' : ''%>">
								<a class="nav-link" href="./">首頁</a>
							</li>
							<li class="nav-item Nav__account">
								<a class="nav-link <%= current.source === 'account' ? 'active' : ''%>" href="./account.html">學校帳號管理</a>
							</li>
							<li class="nav-item Nav__bachelor">
								<a class="nav-link <%= current.source === 'bachelor' ? 'active' : ''%>" href="./bachelor.html">學士班資料</a>
							</li>
							<li class="nav-item Nav__master">
								<a class="nav-link <%= current.source === 'master' ? 'active' : ''%>" href="./master.html">碩士班資料</a>
							</li>
							<li class="nav-item Nav__phd">
								<a class="nav-link <%= current.source === 'phd' ? 'active' : ''%>" href="./phd.html">博士班資料</a>
							</li>
							<li class="nav-item Nav__twoyear">
								<a class="nav-link <%= current.source === 'twoyear' ? 'active' : ''%>" href="./twoyear.html">港二技資料</a>
							</li>
							<li class="nav-item Nav__youngassociate">
								<a class="nav-link <%= current.source === 'youngassociate' ? 'active' : ''%>" href="./youngassociate.html">海青班資料</a>
							</li>
							<li class="nav-item Nav__download">
								<a class="nav-link <%= current.source === 'download' ? 'active' : ''%>" href="./download.html">批次下載</a>
							</li>

							<li class="nav-item Nav__review">
								<a class="nav-link <%= current.source === 'review' ? 'active' : ''%>" href="./review.html">線上回覆</a>
							</li>

							<li class="nav-item Nav__result">
								<a class="nav-link <%= current.source === 'result' ? 'active' : ''%>" href="./result.html">審核回覆結果</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="javascript: window.API.logout();">登出</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<%- yield %>
	</div>
	<script src="./js/loading.js"></script>
	<div class="text-center pt-2 pb-2">
		<%- include ('component/_footer') %>
	</div>
	<script src="./js/script.js"></script>
	<script>
		const _productionConfig = window.getConfig();

		if (!_productionConfig.isProduction) {
			document.title='個人申請制備審資料下載與審查回覆系統-測試站';
			document.getElementById('wordOfSystem').innerHTML='個人申請制<br />備審資料下載與審查回覆系統<br />測試站';
		}

		if (_productionConfig.isProduction) {
			console.log = function() {}
		}

		/* Sample function that returns boolean in case the browser is Internet Explorer*/
		function isIE() {
		ua = navigator.userAgent;
			/* MSIE used to detect old browsers and Trident used to newer ones*/
			var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;			
			return is_ie; 
		}
		/* Create an alert to show if the browser is IE or not */
		if (isIE()){
			alert('IE 瀏覽器可能無法正常操作網頁功能，請改以 Chrome、Firefox 操作。');
		}else{
			//alert('It is NOT InternetExplorer');
		}
	</script>
</body>
</html>
